@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
	--width: 300px;
	--max-width: 500px;
}

* {
	font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
	font-size: 1rem;
}

html {
	height: 100%
}

body {
	padding: 1rem;
}

body,
header,
article,
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

h1 {
	font-size: .5rem;
	color: transparent;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
}

h1,
h2,
h3 {
	margin-bottom: 0;
}

p {
	text-align: center;
	margin: .5rem 0;
}

sub {
	font-size: .75rem;
}

header,
footer {
	min-width: var(--width);
	max-width: var(--max-width);
}

article {
	width: var(--width);
}

.icon {
	width: 1.5rem;
}